/* Global Styles
-------------------------------------------------------- */
body{
    background-color: rgb(15, 8, 21);
    color : rgb(144, 149, 149);
}

a:link{
    color : rgb(255, 255, 255);
    text-decoration: none;
}

a:visited{
    color: rgb(255, 255, 255);
}

a:focus{
    outline: 1px solid white;
}

a:hover{
    color:grey;
}

img{
    width: 300px;
    height: 300px;
}



/* index Styles
-------------------------------------------------------- */
.index{
    color: rgb(144, 149, 149);
}

.ps{
    color:rgb(100, 11, 168);
}

/* aboutme Styles
-------------------------------------------------------- */





/* achievements Styles
-------------------------------------------------------- */



/* coding profile Styles
-------------------------------------------------------- */



/* projects Styles
-------------------------------------------------------- */



/* workexperience Styles
-------------------------------------------------------- */


