/* Global Styles
-------------------------------------------------------- */
body{
    background-color: rgb(15, 8, 21);
    color : rgb(219, 210, 210);
    /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

a:link{
    color : rgb(255, 255, 255);
    text-decoration: none;
    background: rgb(66, 20, 94);
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
    /* align-items: center; */
    display: inline-block;
}

a:visited{
    color: rgb(255, 255, 255);
}

a:focus{
    outline: 1px solid white;
}

a:hover{
    color:rgba(128, 128, 128, 0.814);
}

img{
    width: 300px;
    height: 300px;
}

.header{
    color: rgb(144, 149, 149);
    /* width: 300px; */
    height: 80px;
}

.footer{
    color: rgb(144, 149, 149);
    /* width: 300px; */
    height: 40px;
}

.head_ul{
    margin: 10px;
    display: inline-block;   
}
/* index Styles
-------------------------------------------------------- */
.ps{
    /* color:rgb(100, 11, 168); */
    color: rgb(126, 86, 206);
    /* width: 100px; */
    font-size: 38px;
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 720px;
    margin-bottom: 10px;
    /* align-self: auto; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:oblique;
    display: inline-block;
}

.in{
    /* color:rgb(100, 11, 168); */
    color: rgb(126, 86, 206);
    /* width: 100px; */
    font-size: 15px;
    margin-top: 10px;
    margin-left: 560px;
    /* margin-right: 20px; */
    margin-bottom: 10px;
    /* align-self: auto; */
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-style:oblique;
    display: inline-block;
}

.in1{
    /* color:rgb(100, 11, 168); */
    color: rgb(126, 86, 206);
    /* width: 100px; */
    font-size: 15px;
    margin-top: 10px;
    /* margin-left: 635px; */
    /* margin-right: 20px; */
    margin-bottom: 10px;
    /* align-self: auto; */
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-style:oblique;
    display: inline-block;
}

.image{
    border-radius: 50%;
    width: 200px;
    height:200px;
    border-style: dashed;
    border-color:rgb(66, 20, 94);
}


.ind1{
    display: block;
    align-items: center;
    margin-left: 630px;
}

.ind2{
    display: block;
    align-items: center;
    margin-left: 620px;
    font-size: 32px;
    font-style: oblique;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ind3{
    display: block;
    align-items: center;
    margin-left: 170px;
    font-size: 28px;
    font-style: oblique;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ind4{ 
    display: block;
    align-items: center;
    margin-left: 370px;
    font-size: 20px;
    font-style: oblique;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.icon{
    border-radius: 25%;
    width: 60px;
    height:60px;
    border-style:inset;
    border-color:rgb(39, 39, 40);
    display: inline-block;
}

.psin{
    /* border-radius: 50%; */
    width: 590px;
    height:900px;
    /* padding: 200px; */
    /* border: 3px; */
    border-style:dashed;
    /* table-layout: fixed; */
    border-collapse: collapse;
    /* border: 1px dashed white; */
    border-color:rgb(66, 20, 94);
    table-layout: inherit;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 40px;
}

.c1{
    border-style: dashed;
    border-color:rgb(86, 8, 114);
    text-align: center;
    display: inline block;
}

.t1{
    /* padding: 20px; */
    /* width: 700px; */
    /* margin: auto; */
    /* margin-bottom: 10px; */
    /* border: 3px solid rgb(83, 1, 1); */
    display: flex;
    justify-content:center;
}

.t2{
    width: 200px;
    margin: 0px;
    padding:15px;
    border-radius: 7%;
    border-color: rebeccapurple;
    border-style: dashed;
    border-width: 1px;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    /* padding-top: 20px; */
}
/* aboutme Styles
-------------------------------------------------------- */
.head1{
    color:thistle;
    font-size: 30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-variant: unset;
    /* font-style: oblique; */
    /* text-align: center; */
    /* display: block; */
    display: block;
    align-items: center;
    margin-left: 660px;
}

.abt1{
    display: block; 
    text-align: center; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size:large;
    font-size: 21px; 
    font-style: inherit;
    color: lavenderblush;
    margin: 8px;
}

.abt2{
    display: block; 
    text-align: center; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:large;
    font-size: 20px; 
    font-style:oblique;
    color: lavenderblush;
    margin-top: 18px;
    margin-bottom: 8px;
}

.abt3{
    display: block; 
    text-align: center; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:large;
    font-size: 15px; 
    font-style:oblique;
    color: lavenderblush;
    margin: 2px;
}
/* achievements Styles
-------------------------------------------------------- */
.ach1{
    color:thistle;
    font-size: 30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-variant: unset;
    /* font-style: oblique; */
    /* text-align: center; */
    /* display: block; */
    display: block;
    align-items: center;
    margin-left: 510px;
}

.achicon{
    border-radius: 25%;
    width: 100px;
    height:100px;
    border-style:inset;
    border-color:rgb(39, 39, 40);
    display: inline-block;
}

.acht1{
    /* padding: 20px; */
    /* width: 700px; */
    /* margin: auto; */
    /* margin-bottom: 10px; */
    /* border: 3px solid rgb(83, 1, 1); */
    display: flex;
    justify-content:center;
    /* -webkit-box-shadow: 2px 4px 10px 1px rgb(15, 8, 21);
    box-shadow: 2px 4px 10px 1px rgba(134, 132, 132, 0.47); */
}

.acht2{
    width: 300px;
    margin: 0px;
    /* padding:2px; */
    padding-bottom: 20px;
    border-radius: 3%;
    border-color: rebeccapurple;
    border-style: dashed;
    border-width: 1px;
    /* justify-content: center; */
    align-items: center;
    -webkit-box-shadow: 2px 4px 10px 1px rgb(15, 8, 21);
    box-shadow: 2px 4px 10px 1px rgba(134, 132, 132, 0.47);
    text-align: center;
    /* padding-top: 20px; */
}

.acht3{
    width: 450px;
    margin: 0px;
    /* padding-top: 4.1%; */
    /* padding-bottom: 20px; */
    border-radius: 3%;
    border-color: rebeccapurple;
    border-style: dashed;
    border-width: 1px;
    /* justify-content: center; */
    align-items: center;
    -webkit-box-shadow: 2px 4px 10px 1px rgb(15, 8, 21);
    box-shadow: 2px 4px 10px 1px rgba(134, 132, 132, 0.47);
    text-align: center;
    
    /* padding-top: 20px; */
}

/* coding profile Styles
-------------------------------------------------------- */

.cp1{
    color:thistle;
    font-size: 30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-variant: unset;
    /* font-style: oblique; */
    /* text-align: center; */
    /* display: block; */
    display: block;
    align-items: center;
    margin-left: 650px;
}

.cpicon{
    border-radius: 35%;
    width: 100px;
    height:100px;
    border-style:inset;
    border-color:rgb(39, 39, 40);
    display: inline-block;
}

.cpt1{
    /* padding: 20px; */
    /* width: 700px; */
    /* margin: auto; */
    /* margin-bottom: 10px; */
    /* border: 3px solid rgb(83, 1, 1); */
    display: flex;
    justify-content:center;
}

.cpt2{
    width: 200px;
    margin: 0px;
    /* padding:2px; */
    padding-bottom: 20px;
    border-radius: 7%;
    border-color: rebeccapurple;
    border-style: dashed;
    border-width: 1px;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    /* padding-top: 20px; */
}

.cpt3{
    width: 200px;
    margin: 0px;
    /* padding-top: 4.1%; */
    /* padding-bottom: 20px; */
    border-radius: 7%;
    border-color: rebeccapurple;
    border-style: dashed;
    border-width: 1px;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    
    /* padding-top: 20px; */
}


/* projects Styles
-------------------------------------------------------- */
.pt1{
    /* padding: 20px; */
    /* width: 700px; */
    /* margin: auto; */
    /* margin-bottom: 10px; */
    /* border: 3px solid rgb(83, 1, 1); */
    display: flex;
    justify-content:center;
}

.pt2{
    width: 900px;
    margin: 10px;
    padding:8px;
    /* padding-bottom: 20px; */
    -webkit-box-shadow: 2px 4px 10px 1px rgb(15, 8, 21);
    box-shadow: 2px 4px 10px 1px rgba(104, 103, 103, 0.47);
    border-radius: 1%;
    border-color: rebeccapurple;
    border-style: dashed;
    border-width: 1px;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    color:ivory;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* padding-top: 20px; */
}



/* workexperience Styles
-------------------------------------------------------- */
.we1{
    width: 800px;
    -webkit-box-shadow: 2px 4px 10px 1px rgb(15, 8, 21);
    box-shadow: 2px 4px 10px 1px rgba(134, 132, 132, 0.47);
    padding: 10px;
    margin: 10px;
    justify-content: center;
    /* display: flex; */
}

.we2{
    display: flex;
    /* justify-content: center; */
}

.weicon{
    width: 90px;
    height: 90px;
    border-radius: 25%;
}

.wedetails{
    padding-left: 15px;
}

.wedesc{
    padding-left: 105px;
}