/* Global Styles
-------------------------------------------------------- */
body{
    /* background-color : rgb(14, 13, 13) */
    background-image : linear-gradient(to bottom right,rgba(0, 0, 0, 0.927),rgba(98, 3, 145, 0.655));
}

img{
    width: 300px;
    height: 300px;
}



/* index Styles
-------------------------------------------------------- */




/* aboutme Styles
-------------------------------------------------------- */





/* achievements Styles
-------------------------------------------------------- */



/* coding profile Styles
-------------------------------------------------------- */



/* projects Styles
-------------------------------------------------------- */



/* workexperience Styles
-------------------------------------------------------- */


